.search {
  width: 400px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

img {
  width: 150px;
}

input {
  text-align: center;
  width: 100%;
  border-color: #c4c4c4;
  margin-top: 20px;
  color: #5b5b5b;
  border-radius: 7px;
}

button {
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  background-color: #4285f3;
  color: white;
  border: #1a5fd0;
  border-radius: 3px;
}

button:hover {
  color: #5998ff;
}

/* Results */

.results {
  font-family: Helvetica, Arial, sans-serif;
  width: 700px;
  margin-left: 140px;
}

h2 {
  font-size: 24px;
}

.banner {
  display: grid;
  grid-template-columns: 280px auto;
}

form {
  display: grid;
  grid-template-columns: 700px 100px auto;
}

a.links {
  color: #1a0dab;
}

a.visited {
  color: #660099;
}

p {
  color: #5b5b5b;
}

li {
  display: inline;
  margin-right: 10px;
  padding-inline-start: 0px;
}

img.results {
  width: 140px;
  margin-left: 0px;
}

button.results {
  height: 40px;
  width: auto;
}

input {
  width: 700px;
}
